<h2>Organisation</h2>

<% var people = [
    {
        name: "Prof Chris Lintott",
        title: "Director",
        organisation: "Dept of Physics, University of Oxford; New College Oxford",
        image: "img/group_lintott.jpg",
        email: "cjl@astro.ox.ac.uk",
        website: "http://www2.physics.ox.ac.uk/contacts/people/lintott"
    },
    {
        name: 'Dr Adrienne Slyz',
        title: 'Chair, Advisory Committee',
        organisation: 'Dept of Physics, University of Oxford; New College Oxford',
        image: "img/group_slyz.jpg",
        email: 'slyz@astro.ox.ac.uk',
        website: 'http://www2.physics.ox.ac.uk/contacts/people/slyz'
    },
    {
        name: 'Prof Marc Kamionkowski',
        title: 'Advisory Committee',
        organisation: 'Dept of Physics and Astronomy, Johns Hopkins University',
        image: "img/group_kamionkowski.png",
        website: 'http://www.pha.jhu.edu/~kamion/www/Home.html'
    },
    {
        name: 'Prof John March-Russell',
        title: 'Advisory Committee',
        organisation: 'Dept of Physics, University of Oxford; New College Oxford',
        image: "img/group_march_russell.jpg",
        website: 'http://www2.physics.ox.ac.uk/contacts/people/march-russell'
    },
    {
        name: 'Prof Joe Silk',
        title: 'Advisory Committee',
        organisation: 'Institut d\'Astrophysique, Paris; Dept of Physics and Astronomy, Johns Hopkins University; Beecroft Institute for Particle Physics and Cosmology and New College Oxford',
        image: "img/group_silk.jpg",
        email: 'silk@iap.fr',
        website: 'http://www.physics.ox.ac.uk/astro/people/JoeSilk.htm'
    },
    {
        name: 'Christopher Doogue',
        title: 'Balzan Project Assistant',
        organisation: 'Dept of Physics, University of Oxford; New College Oxford',
        image: "img/group_doogue.jpg",
        email: 'c.doogue1@physics.ox.ac.uk',
    }
]; %>

<% people.forEach(function (person) { %>
    <div class="organisation-member">
        <div class="image">
            <img src="<%= person.image %>">
        </div>
        <div class="details">
            <div><%= person.name %></div>
            <div><%= person.title %></div>
            <div><%= person.organisation %></div>
            <div>
                <% if (person.email) { %><a href="mailto:<%= person.email %>">Email</a><% } %>
                <% if (person.email && person.website) { %> &ndash; <% } %>
                <% if (person.website) { %><a target="_blank" href="<%= person.website %>">Website</a><% } %>
            </div>
        </div>
    </div>
<% }) %>
