<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand js-page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <% sections.forEach(function (section) { %>
                        <li><a class="js-page-scroll" href="#<%= section.id %>"><%= section.title %></a></li>
                    <% }) %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro-section">
        <div class="body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text">New College, University of Oxford<br>Johns Hopkins University</p>
                    <h1 class="brand-heading">Centre for Cosmological Studies</h1>
                    <a href="#about" class="button js-page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <% sections.forEach(function (section) { %>
        <section class="content-section <%= section.id %>-section" id="<%= section.id %>">
            <div class="content">
                <%- partial(section.filename) %>
            </div>
        </section>
    <% }) %>

    <footer class="site-footer">
        <p>Image of M82 via <a target="_blank" href="https://www.flickr.com/photos/smithsonian/2941504858/in/photolist-rQf3Z3-qnhe5a-rj1SX9-iyq1z5-nu5DrK-eL3fPt-5tVYV1-pTDvDs-6rhyrj-5tRBji-oQJQDE-oNCeVm-fd46U7-fNHEQC-6o67DX-fd46Nj-89GEo2-5RW5Kq-bMJ1Ck-4rTyX5-5hJ5Cx-jvy5jz-8FeMLH-7VnAsE-dS3yBQ-9aQRw4-9smFoR-cJHqg5-9bk2LL-4cwr27-q2fTri-e8hGuM-rB6quC-hyzMyT-5RYkqF-qvvS3N-rTCP35-r5FTJM-rqzuna-pNd8Ls-5tRHAa-5JG7No-eaZXhh-dS8qaB-emmEUS-msQEF-9dCHdN-rDqMob-5ZrBEn-4QJNdC">Flickr</a>, used under public domain.</p>
    </footer>

    <script src="app.js"></script>

</body>
